= content_for :page_title, 'New Article'
%article.articles
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        %h1 New article

        = render 'form'

        = link_to 'Back', articles_path, class: "btn btn-default"
        %br/
        %br/
