%article.services
  = provide(:title, "Services")
  #blue
    .container
      .row.centered
        .col-lg-8.col-lg-offset-2
          %h4 WE CAN DO A LOT OF THINGS
          %p JUST TAKE A LOOK  CONTACT US
    / row
  / container


  .container.w
    .row.centered
      %br/
      %br/
      .col-lg-4
        %i.fa.fa-desktop
        %h4 DESIGN YOUR BRAND
        %p Create a streamlined visual brand with my Branding Field Guide.
      / col-lg-4
      .col-lg-4
        %i.fa.fa-cogs
        %h4 WEB DEVELOPMENT
        %p Quickly build your Squarespace site with my Website Starter Kit.
      / col-lg-4
      .col-lg-4
        %i.fa.fa-eye
        %h4 SEO SERVICES
        %p Superior quality responsive designs produced for applications deployed on cloud and built in RAILS
      / col-lg-4
    / row
    %br/
    .row.centered
      %br/
      %br/
      .col-lg-4
        %i.fa.fa-heart
        %h4 SOCIAL MEDIA
        %p Integrate with social media sites like Twitter, Facebook, LinkedIn etc with well tested plugins/APIs
      / col-lg-4
      .col-lg-4
        %i.fa.fa-align-left
        %h4 Product API Development
        %p We’re no strangers to web services & developing APIs using REST or JSON. RoR developers can work closely with your technology team developing API eco-system.
      / col-lg-4
      .col-lg-4
        %i.fa.fa-cloud
        %h4 CLOUD SERVICES
        %p Rails allows you take advantage of a lot of Cloud hosting providers and plugins.
      / col-lg-4
    / row
  / container



  -# = render 'pages/partials/pricing'


  -# = render 'pages/partials/e_story'
