%article.services
  = content_for :page_title, 'Services'
  #blue
    .container
      .row.centered
        .col-lg-8.col-lg-offset-2
          %h4 WE CAN DO A LOT OF THINGS
          %p I offer a wide variety of design & development services, backed by over a decade of experience building corporate, personal, and large-scale sites.
    / row
  / container
  .container.w
    .row.centered
      %br/
      %br/
      .col-lg-4
        %i.fa.fa-paint-brush
        %h4 DESIGN YOUR BRAND
        %p All of my designs are high-quality and completely customized to fit my clients needs. I go the extra mile to create unique designs so each time you receive an original final product.
      / col-lg-4
      .col-lg-4
        %i.fa.fa-code
        %h4 WEB DEVELOPMENT
        %p I am always striving hard to learn new technologies, so I’m able to pride myself on having a wide array of programming skills.
      / col-lg-4
      .col-lg-4
        %i.fa.fa-cogs
        %h4 CONSULTING
        %p Finishing your design or setting up your web presence is just the first step. I do SEO and PPC marketing consultations to help my clients maximize their full earning potential!
      / col-lg-4
    / row
    %br/
    .row.centered
      %br/
      %br/
      .col-lg-4
        %i.fa.fa-heart
        %h4 SOCIAL MEDIA
        %p Integrate with social media sites like Twitter, Facebook, LinkedIn etc with well tested plugins/APIs
      / col-lg-4
      .col-lg-4
        %i.fa.fa-align-left
        %h4 RESPONSIVE
        %p All of my sites come with comprehensive on-site SEO optimization using the latest industry standards.
      / col-lg-4
      .col-lg-4
        %i.fa.fa-cloud
        %h4 CLOUD SERVICES
        %p Rails allows you take advantage of a lot of Cloud hosting providers and plugins.
      / col-lg-4
    / row
  / container



  -# = render 'pages/partials/pricing'


  -# = render 'pages/partials/e_story'
