.container.w
  .row.centered
    %br/
    %br/
    .col-lg-4
      %i.fa.fa-heart
      %h4 DESIGN
      %p Comprehensive questionnaires for your brand, client experience, and website
    / col-lg-4
    .col-lg-4
      %i.fa.fa-laptop
      %h4 SOCIAL MEDIA
      %p Integrate with social media sites like Twitter, Facebook, LinkedIn etc with well tested plugins/APIs
    / col-lg-4
    .col-lg-4
      %i.fa.fa-code
      %h4 DEVELOPMENT
      %p The heart of our development toolset is the Ruby on Rails framework, enabling us to efficiently build high-quality, robust, custom web applications that scale.
    / col-lg-4
  / row
  %br/
  %br/
/ container
