.container.w
  .row.centered
    %br/
    %br/
    .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-1
      = image_tag asset_path('ahmed_profile.png'), class: "img-circle", alt: "Ahmed Nadar", height: "344", width: "300"
      %h4 Ahmed Nadar
      %p
        Hi. I’m Ahmed Nadar. I’m a Developer and Designer.
        %br
        I’ve been making software for about 10 years now experience on the back-end and front-end using primarily
        %strong Ruby, Ruby on Rails
        and
        %strong Javascript
        in the form of
        %strong Coffeescript.
        %br
        %br
        I help creatives transform their passion into a successful, profitable business.
        %br
        I enjoy turning complex problems into simple, beautiful and intuitive interface designs.
      %p
        = link_to '@ahmedandar', "www.twitter.com/ahmednadar"
  / row
  %br/
  %br/
/ container