/ FEATURE SECTION
.container.wb
  .row.centered
    %br/
    %br/
    .col-lg-8.col-lg-offset-2
      %h4 WE CREATE FIRST CLASS DESIGN
      %p By being true to the brand we represent, we elevate the audiences’ relationship to it. Like becomes love becomes a passion. Passion becomes advocacy. And we see the brand blossom from within, creating a whole story the audience embraces. That’s when the brand can truly flex its muscles.
      %p
        %br/
        %br/
    .col-lg-2
    .col-lg-10.col-lg-offset-1
      = image_tag asset_path('munter.png'), class: "img-responsive", alt: "Ahmed Nadar"
  / row
/ container
