/ FEATURE SECTION
.container.wb
  .row.centered
    %br/
    %br/
    .col-lg-8.col-lg-offset-2
      %h4 WE CREATE FIRST CLASS PRODUCTS
      %p The work I provide is of highest quality, fully responsive, and tested in a wide range of devices. I take great care to ensure each project is well-documented and easily maintainable so you can enhance a website as your company grows.
      %p
        %br/
        %br/
    .col-lg-2
    .col-lg-10.col-lg-offset-1
      = image_tag asset_path('site_feature.png'), class: "img-responsive", alt: "Ahmed Nadar"
  / row
/ container
