#r
  .container
    .row.centered
      .col-lg-8.col-lg-offset-2
        %h4 WE ARE STORYTELLERS. BRANDS ARE OUR SUBJECTS. DESIGN IS OUR VOICE.
        %p Have an idea, but need someone to implement your vision? I can take your concept, work with you to flesh out the details, write the code and turn your idea into a working site.
        %a{"data-target" => "#myModal", "data-toggle" => "modal", href: "#myModal", class: "btn btn-info center"}
          Get in touch
    / row
  / container
/ r wrap
