#r
  .container
    .row.centered
      .col-lg-8.col-lg-offset-2
        %h4 WE ARE STORYTELLERS. BRANDS ARE OUR SUBJECTS. DESIGN IS OUR VOICE.
        %p We believe ideas come from everyone, everywhere. Everyone within our agency walls is a designer in their own right. And there are a few principles we believe—and we believe everyone should believe—about our design craft. These truths drive us, motivate us, and ultimately help us redefine the power of design.
    / row
  / container
/ r wrap
