/ PRICING SECTION
#dg
  .container
    .row.centered
      %h4 PRICING PLANS
      %br/
      .col-lg-4
        / START PRICING TABLE
        .pricing-option
          .pricing-top
            %span.pricing-edition Starter
            %span.price
              %sup $
              %span.price-amount 19
              %small /mo
          %ul
            %li
              %strong 10GB
              Storage
            %li
              Up to
              %strong 10
              Users
            %li
              %strong 5
              Domains
            %li
              %strong Free
              Setup
            %li
              %strong 1-year
              Free support *
          %a.pricing-signup{:href => "index.html#"} Sign up
        / /pricing-option
        / END PRICING TABLE
      / /col
      .col-lg-4
        / START PRICING TABLE
        .pricing-option
          .pricing-top
            %span.pricing-edition Standard
            %span.price
              %sup $
              %span.price-amount 29
              %small /mo
          %ul
            %li
              %strong 20GB
              Storage
            %li
              Up to
              %strong 20
              Users
            %li
              %strong 10
              Domains
            %li
              %strong Free
              Setup
            %li
              %strong 2-year
              Free support *
          %a.pricing-signup{:href => "index.html#"} Sign up
        / /pricing-option
        / END PRICING TABLE
      / /col
      .col-lg-4
        / START PRICING TABLE
        .pricing-option
          .pricing-top
            %span.special-label OFFER!
            %span.pricing-edition Ultimate
            %span.price
              %sup $
              %span.price-amount 69
              %small /mo
          %ul
            %li
              %strong 150GB
              Storage
            %li
              %strong Unlimited
              Users
            %li
              %strong 50
              Domains
            %li
              %strong Free
              Setup
            %li
              %strong 5-year
              Free support *
          %a.pricing-signup{:href => "index.html#"} Sign up
        / /pricing-option
        / END PRICING TABLE
      / /col
    / row
  / container
/ DG
