/ FOOTER
#f
  .container
    .row.centered
      %a{:href => "http://www.twitter.com/ahmednadar", alt: "Twitter", title: "Twitter" }
        %i.fa.fa-twitter
      %a{:href => "https://plus.google.com/u/0/+AhmedNadar/posts", alt: "Google+", title: "Google+" }
        %i.fa.fa-google-plus
      %a{:href => "http://stackoverflow.com/users/66493/egyamado", alt: "Stack Exchange", title: "Stack Exchange" }
        %i.fa.fa-stack-exchange
      %a{:href => "http://github.com/ahmednadar", alt: "Github", title: "Github" }
        %i.fa.fa-github
    / row
  / container
/ Footer
