#headerwrap
  .container
    .row.centered
      .col-lg-8.col-lg-offset-2
        %h1
          It Doesn't Take a Rocket
          %b Scientist
        %h2 It Takes a Designer and Developer
    / row
  / container
/ headerwrap
